/* 字型 */
$font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$transition-time: 0.8s;
/* 顏色 */
$color-blue: #009fe8;
$color-blue-light: rgba(0, 159, 232, 0.2);
$color-blue-mid: #008fd1;
$color-blue-dark: #025da3;
$color-gray-light: #b6b6b6;
$color-gray-border: #4E5253;
$color-gray-font: #4a4a4a;
$color-black-light: #324554;
$color-black: #111;
$color-orange: #f26f28;
$color-orange-dark: #c25920;
$color-green: #5fa80e;
$color-red: #d0021b;
/* 樣式 */
$border-gray: 0.5px solid $color-gray-border;
$border-white: 1px solid #fff;
$border-blue: 2px solid #009fe8;
