/* 若在 custom 資料夾下 發現別人的自訂樣式你也可以接受，就直接搬到這邊來 */
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
